# Database
DATABASE_URL="postgresql://user:password@localhost:5432/sokem_restaurant?schema=public"

# NextAuth / Supabase Auth
NEXTAUTH_SECRET="your-nextauth-secret-key-at-least-32-chars"
NEXTAUTH_URL="http://localhost:3000"

# Public site settings
NEXT_PUBLIC_SITE_URL="http://localhost:3000"

# Cloudinary / Supabase Storage (Future)
CLOUDINARY_URL=""
